language: php

php:
  - 5.3.3
  - 5.3
  - 5.4

before_script:
  - composer install -n
  - cp app/config/parameters.yml.dist app/config/parameters.yml
  - php app/console exchange:parser
  - php app/console exchange:cache