{% extends 'ExchangeAppBundle::jquery_mobile_layout.html.twig' %}

{% block body %}
    <div data-role="page" id="page-map">
        <div data-role="header">Exchange</div>
        <div role="main" class="ui-content">
            {% block map %}{% endblock map %}
        </div>
        <div data-role="footer">Exchange</div>
    </div>
{% endblock body %}