{% extends 'ExchangeAppBundle::jquery_mobile_layout.html.twig' %}

{% block body %}
    <div data-role="page" id="page-map">
        <div data-role="header">
            <h1 class="js-map-title">Курсы валют</h1>
            <a href="#left-panel" data-icon="bullets" data-iconpos="notext" data-shadow="false" data-iconshadow="false">Open left panel</a>
        </div>
        <div role="main" class="ui-content" style="padding: 0px">
            {% block content %}{% endblock content %}
        </div>
        <div data-role="panel" id="left-panel" data-display="overlay">
            {% block panel %}{% endblock panel %}
        </div>
        <div data-role="footer">
            {% block footer %}{% endblock footer %}
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/exchangeapp/js/main.js') }}"></script>
{% endblock javascripts %}