{% extends 'ExchangeMapBundle::map_layout.html.twig' %}

{% block content %}
    <div id="map" style="width: 100%; height: 100%"></div>
{% endblock content %}

{% block panel %}
    <p>Настройки валют</p>
    <select class="js-filter-switch" name="slider" data-role="slider">
        <option value="H" selected>Купить</option>
        <option value="L">Продать</option>
    </select>
    <fieldset class="js-filter-radio" data-role="controlgroup" data-iconpos="right">
        <legend>Выберите валюту:</legend>
        <input type="radio" name="filter-radio" id="filter-radio-USD" value="USD" checked="checked">
        <label for="filter-radio-USD">USD</label>
        <input type="radio" name="filter-radio" id="filter-radio-EUR" value="EUR">
        <label for="filter-radio-EUR">EUR</label>
        <input type="radio" name="filter-radio" id="filter-radio-RUB" value="RUB">
        <label for="filter-radio-RUB">RUB</label>
    </fieldset>
{% endblock panel %}

{% block footer %}
    <input class="js-filter-slider" type="range" name="slider" value="25" min="0" max="100"  />
{% endblock footer %}